<h1>Pagina de posts admin</h1>

<form id="create_posts" class="" action="/posts/create_post" method="get">
  <label for="title">Title</label>
  <input type="text" name="title" value="">

  <label for="image_link">Image Link</label>
  <input type="text" name="image_link" value="">

  <label for="censored">Censored Word</label>
  <input type="text" name="censored" value="">

  <label for="content">Post Content</label>
  <input type="text" name="content" value="">

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
